* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
    --text-color: #000339;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}

/* Common */
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    display: inline-block;
    min-width: 98px;
    padding: 18px 16px;
    border-radius: 12px;
    background: var(--primary-color);
    color: #ffffff;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
}

.btn:hover {
    opacity: 0.9;
}

a {
    text-decoration: none;
}

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

/* ========== Header ========== */
.fixed-header {
    position: sticky;
    top: -26px;
    z-index: 1;
    padding-top: 26px;
    background: #e6f0ff;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar ul a {
    padding: 8px 14px;
    color: #4f5361;
    font-weight: 500;
    font-size: 1.4rem;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .actions {
    margin-left: auto;
    font-weight: 500;
    font-size: 1.4rem;
}

.navbar .action-link {
    margin-right: 18px;
    color: var(--primary-color);
}

.navbar .actions .btn {
    padding: 13px 16px;
    border-radius: 8px;
}

.hero-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 90px);
    background: #e6f0ff;
}

.hero-wrap .info {
    width: 51%;
}

.hero-wrap .sub-title {
    color: #687690;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.4;
    letter-spacing: 0.01em;
}

.hero-wrap .title {
    margin-top: 8px;
    color: #000336;
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.1875;
}

.hero-wrap .desc {
    margin-top: 30px;
    color: #5a6473;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
}

.hero-wrap .hero-cta {
    min-width: 170px;
    margin-top: 40px;
}

.hero-wrap .hero-img {
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0;
}

/* ========== Clients ========== */
.clients {
    margin-top: 79px;
    padding-top: 43px;
    padding-bottom: 23px;
}

/* .clients .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.clients .row-desc {
    margin-top: 23px;
}

.clients .desc {
    color: #7d8589;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.25;
}

.clients .clients-logo {
    margin-top: 70px;
}

.clients .clients-logo .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 204px;
    height: 91px;
    border-radius: 12px;
}

.clients .clients-logo .logo:hover {
    box-shadow: 0px 10px 20px 0px #0000001a;
}

/* ========== Guides ========== */
.guides {
    padding-top: 93px;
    padding-bottom: 79px;
    margin-top: 40px;
}

.guides .sub-title {
    position: relative;
    color: var(--text-color);
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    text-align: center;
}

.guides .sub-title::before {
    content: "";
    position: absolute;
    top: -13px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background-color: #000339;
}

.guides .desc {
    width: 459px;
    max-width: 100%;
    margin: 20px auto 0;
    color: #5a6473;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.875;
    text-align: center;
}

.guide-list {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.guide-item {
    text-align: center;
    margin: 0 70px;
}

.guide-item .title {
    color: #3b3c45;
    margin-top: 26px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.1;
}

.guide-item .how-to {
    display: inline-block;
    margin-top: 10px;
    color: #0689ff;
    font-weight: 600;
    font-size: 1.4rem;
}

.guide-cta {
    text-align: center;
}

.guide-cta .btn {
    width: 170px;
    margin-top: 48px;
}

.featured {
    background-color: #f5fafe;
    padding-top: 110px;
    padding-bottom: 110px;
}

.featured-header .sub-title {
    color: var(--text-color);
    font-weight: 600;
    font-size: 3.5rem;
}

.featured-header .row {
    margin-top: 15px;
}

.featured-header .desc {
    color: #5a6473;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.875;
}

.featured-header .link {
    display: flex;
    align-items: center;
    color: #0689ff;
    font-weight: 600;
    font-size: 1.8rem;
}

.featured-header .arrow {
    margin-left: 8px;
}

.featured .card-list {
    display: flex;
    gap: 30px;
    margin-top: 68px;
}

.featured .card {
    flex: 1;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: 0px 65px 80px -46px #e2eef999;
}

.featured .card .thumb {
    object-fit: cover;
    width: 100%;
    height: 227px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.featured .card .body {
    padding: 17px 20px 22px;
}

.featured .card .title a {
    color: var(--text-color);
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.4;
}

.featured .card .desc {
    margin-top: 11px;
    color: #a3a6ab;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5;
    word-break: break-all;
}

.featured .card .info {
    display: flex;
    align-items: center;
    margin-top: 21px;
}

.featured .card .icon:not(:first-child) {
    margin-left: 23px;
}

.featured .card .label {
    margin-left: 8px;
    color: #4d4d52;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    letter-spacing: 0.01em;
}

/* ========== Stats ========== */
.stats {
    padding: 50px 0;
    margin-top: 75px;
}

.stats .content {
    width: 1048px;
}

.stats .stats-row {
    display: flex;
}

.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .img-block {
    position: relative;
}

.stats .img-block .illustration-img {
    display: block;
    width: 400px;
    height: 460px;
    margin-left: auto;
    border-radius: 12px;
    object-fit: cover;
}

.stats .img-block .stats-trend {
    position: absolute;
    left: 0;
    top: 0;
    width: 239px;
    padding: 45px 22px 40px;
    border-radius: 0 0 12px 12px;
    background: #fff;
    box-shadow: 90px 85px 100px 0px #0000000f;
}

.stats-trend .trend-data {
    color: var(--text-color);
    font-weight: 700;
    font-size: 2.6rem;
    letter-spacing: 0.01em;
}

.stats-trend .desc {
    margin-top: 8px;
    color: #a7a7a7;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
}

.stats-trend .separate {
    height: 2px;
    margin-top: 25px;
    background: #e9e9e9;
}

.stats-trend .avatar-block {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 14px;
    margin-top: 26px;
}

.stats-trend .avatar-group {
    display: flex;
}

.stats-trend .avatar-group .avatar {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    object-fit: cover;
}

.stats-trend .avatar ~ .avatar {
    margin-left: -3px;
}

.avatar-group div.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 450;
    font-size: 8px;
    letter-spacing: -0.02em;
    background: var(--bg-color, #fff);
}

.stats .info {
    padding: 79px 0 0 165px;
}

.stats .info .sub-title {
    position: relative;
    width: 269px;
    color: var(--text-color);
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.29;
}

.stats .info .sub-title::before {
    content: "";
    position: absolute;
    top: -14px;
    left: 0;
    display: block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: var(--text-color);
}

.stats .info .desc {
    width: 312px;
    margin-top: 28px;
    color: #5a6473;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.875;
}

.stats .row.qty-row {
    padding: 0 32px;
    margin-top: 110px;
}

.stats .qty {
    color: #000000;
    font-weight: 600;
    font-size: 6.4rem;
    line-height: 1;
}

.stats .qty-desc {
    margin-top: 22px;
    color: #7b8087;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
}

/* ========== Subscription ========== */
.subscription {
    margin-top: 90px;
}

.subscription .body {
    position: relative;
    display: flex;
    align-items: center;
    height: 370px;
    border-radius: 20px;
    background: #063183;
    opacity: 1;
}

.subscription .info {
    width: 670px;
    padding: 0 80px;
}

.subscription .sub-title {
    color: #fff;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.5;
}

.subscription .desc {
    margin-top: 15px;
    color: #ffffff;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.875;
    opacity: 0.75;
}

.subscription .btn {
    margin-top: 20px;
    min-width: 151px;
    color: #002366;
    background: #fff;
}

.subscription .iphone-image {
    position: absolute;
    bottom: 0;
    right: 221px;
}

/* ========== Footer ========== */
.footer {
    padding: 50px 0 58px;
    margin-top: 55px;
}

.footer .row {
    align-items: normal;
    gap: 185px;
}

.footer .list,
.footer .desc {
    margin-top: 42px;
}

.footer .heading {
    color: #1c1c1d;
    font-family: Lato;
    font-weight: 700;
    font-size: 2rem;
}

.footer .item {
    margin-top: 18px;
}

.footer .item a,
.footer .desc {
    color: #7a7a7e;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    white-space: nowrap;
}

.footer .desc {
    line-height: 1.75;
    white-space: normal;
}

.footer .social {
    display: flex;
    margin-top: 40px;
}

.footer .social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 4px;
    background: #f9f9f9;
}

.footer .social a:hover {
    background: #eee;
}

.footer .social a:not(:first-child) {
    margin-left: 16px;
}

.footer .row-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 81px;
}

.footer .row-bottom .copyright {
    color: #c2c2c2;
    font-weight: 400;
    font-size: 1.4rem;
}
